#main-nav .social-icons {
    display : none;
}
#main-nav .container {
    grid-template-columns: 1fr;
    gap :1.2rem;

}
#main-nav ul,
#main-nav img {
    justify-self: center;
}

@media screen and (max-width: 768px) {
    /* header */
    #header .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        height: auto;
        padding: 2rem 0;
    }

    /* articles */
    #main-articles .articles-container {
        grid-template-columns: 1fr;
    }

    /* footer */
    #main-footer .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #main-footer .footer-container> *:last-child {
        grid-column: 1;
    }
}